@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

html, body, #root {
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-noise-light {
    position: relative;
    background-color: #b2d685;
    background-image: radial-gradient(
      circle at center,
      #b2d685 0%,
      #b2d685 35%,
      #d5f9aa 70%,
      #fdfde9 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .bg-noise-light::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 160'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.2' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='1'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 320px 320px;

    opacity: 0.5;
    mix-blend-mode: multiply;
  }
}
