@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .bg-noise-light {
    background-color: #CFCFCF;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 160'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.2' numOctaves='3' stitchTiles='noStitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.9'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 220px 220px;
  }
}
}

