@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-noise-light {
    background-color: #b2d685;

    background-image:
      radial-gradient(
        circle at center,
        #b2d685 0%,
        #b2d685 35%,
        #d5f9aa 70%,
        #fdfde9 100%
      ),
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 160'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.2' numOctaves='3' stitchTiles='noStitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.15'/%3E%3C/svg%3E");

    background-repeat: no-repeat, repeat;
    background-size: cover, 220px 220px;
  }
}
